{{ define "main" }}
  <section class="section">
    <div class="container">
      <h1 class="title section-title">{{ .Title }}</h1>
      <h2 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h2>
      <div class="divider"></div>
      <div class="content">
        {{ .Content }}
      </div>
      <div class="columns">
        <div class="column is-7">
          <svg id="map" width="700" height="760"></svg>
        </div>
        <div class="column is-5">
          <h3 class="title is-5">In diesen Städten gibt es bereits ein OK Lab:</h3>
          <div class="labs-list tags">
            {{ range .Pages.ByParam "city" }}
            <a href="{{.Permalink}}">
              <span class="tag lab-tag">{{.Params.city}}</span>
            </a>
            {{ end }}
          </div>
        </div>
    </div>
  </section>

<style>
  div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    padding: 4px 10px;
    font: 1em sans-serif bold;
    background: #444F60;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 7px;
  }
  </style>

<script src="{{ "js/d3.v5.min.js" | relURL }}"></script>

<script>
  function buildMap() {
    var svg = d3.select("#map"),
      width = 1200,
      height = 900;

    var projection = d3.geoMercator()
        .translate([width/2., height/2.])
        .scale(3500)
        .center([15.3, 50.6]);

    var path = d3.geoPath()
        .projection(projection);

    var data = d3.map();

    // define div for tooltip
    const div = d3
      .select("body")
      .append("div")
      .attr("class", "tooltip")
      .style("opacity", 0);

    function on_mouseout(){
      var t = d3.transition().duration(200);
      div
        .transition(t)
        .style("opacity", 0);
    }
  
    function on_mouseover(data){
      var t = d3.transition().duration(500);
      div
        .html(data.city)
        .style("left", d3.event.pageX + 8 + "px")
        .style("top", d3.event.pageY - 43 + "px")
        .style("pointer-events", "none");
      div
        .transition(t)
        .style("opacity", 0.9);

    }
  
    function locations_loaded(locations) {
      console.log(locations);
      svg.selectAll("circle")
        .data(locations)
        .enter()
        .append("circle")
        .attr("r", 5)
        .style("fill", "#01a8a8")
        .classed("pin", true)
        .attr("cx", locations => { return projection([+locations.long, +locations.lat])[0]; })
        .attr("cy", locations => { return projection([+locations.long, +locations.lat])[1]; })
        .on("mouseover", on_mouseover)
        .on("click", locations => { window.location = "https://codefor.de/" + locations.city })
        .on("mouseout", on_mouseout);
    }
  
    function data_loaded(data) {
      // draw points
      d3.csv("{{ "js/lab-locations.csv" | relURL }}")
      .then(locations_loaded);
  
      // draw map
      svg.append("g")
        .selectAll("path")
        .data(data.features)
        .enter()
        .append("path")
        .attr("d", d3.geoPath().projection(projection))
        .attr("fill", "lightgrey")
        .style("opacity", 0.5)
        .style("stroke", "darkgrey");
    }

    // load data
    d3.json("https://raw.githubusercontent.com/isellsoap/deutschlandGeoJSON/master/2_bundeslaender/4_niedrig.geojson")
    .then(data_loaded);
  }

  buildMap();

</script>

{{ end }}
