# Hugo
/public/
/resources/
/.hugo_build.lock

# macOS
.DS_Store

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# IDE project folders
.idea/**
.vscode/**

*.orig