baseURL: https://dev.codefor.de
languageCode: de-DE
title: Code for Germany
theme: codefor-theme
defaultContentLanguage: de


frontmatter:
  date: [":filename", ":default"]


sectionPagesMenu: "main"

rssLimit: 10


taxonomies:
  category: categories
  tag: tags

permalinks:
  labs: "/:filename"

mediaTypes:
  application/nginx:
    suffixes:
    - nginx

outputFormats:
  nginx:
    baseName: redirects
    isPlainText: true
    mediaType: application/nginx
    notAlternative: true

outputs:
  home: ["html", "rss", "nginx"]

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
    renderer:
      hardWraps: false
      unsafe: true
      xHTML: false
  highlight:
    codeFences: true
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: monokai
    tabWidth: 4
  tableOfContents:
    endLevel: 6
    startLevel: 2
