{{ define "main" }}

{{ .Content }}

{{ $paginator := .Paginate (.Pages) 7 }}


<div class="row justify-content-center mt-6">
    <div class="col-24 col-md-22 col-lg-17">
        <div class="row" id="blog-entries-container" data-total-pages="{{$paginator.TotalPages}}"> 
            
            {{ range first 1 $paginator.Pages }}
                {{ partial "blog-preview.html" . }}
            {{ end }}

            <!-- For Twitter we add the hidden class which will be removed in script below -->
            {{if eq $paginator.PageNumber 1}}
            <div class="col-24 col-md-12 mb-5 mb-md-7 project-preview-container twitter-container hidden" >
                <a class="twitter-timeline" data-height="100%" href="https://twitter.com/codeforde?ref_src=twsrc%5Etfw">Tweets by codeforde</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            {{end}}

            {{ range after 1 $paginator.Pages }}
            {{ partial "blog-preview.html" . }}
            {{ end }}

        </div>

        <div class="d-flex justify-content-center mb-5 mb-lg-7">
            <button id="loadMore" class="btn btn-outline-dark">weitere anzeigen</button>
        </div>
    </div>
</div>

<script>
$( document ).ready(function() {

    var totalPages = $('#blog-entries-container').data('total-pages');
    var currentpage = 1;
    var loading = false;
    setTimeout(checkTwitter,3000); // check for twitter


    $('#loadMore').click(function(){
        currentpage++;
        if(currentpage<totalPages && !loading){
            loading = true;
            $.get( "/blog/page/"+currentpage, function( data ) {
                $('#blog-entries-container').append($(data).find('.project-preview-container'));
                lazybackgroundimage();
                loading = false;
                if(currentpage == totalPages){
                    $(this).hide();
                }
            });
        }

    });
});

function checkTwitter() {
		try {
            // twitter-widget-0 will be inserted by twitter widget.js upon loading
            // show container only if this happens ...
			var f = document.getElementById("twitter-widget-0");
			f.parentNode.classList.remove("hidden");
			} catch {
				console.log("No twitter widget");
			}
			//setTimeout(checkTwitter,1000)
	}


</script>

{{ end }}