{{ define "main" }}

<div class="lab-icon d-flex justify-content-center">
    <img src="/labs/hexagon/CodeFor-{{ .File.BaseFileName }}.svg" alt="Logo {{ .Title }}">
</div>

<h1 class="text-center mb-4 mb-lg-6">{{.Title}}</h1>

{{ partial "hero-block-center.html" (dict "context" . "txt" .Params.Hero ) }}

{{ $txt := .Content }}
<div class="freetext-container">
    {{ partial "paragraph-center.html" (dict "context" . "txt" $txt ) }}
</div>


<div class="row justify-content-center my-8">
	<div class="col-22 col-md-18 col-lg-16 col-xl-15">
		<div class="accordion" id="accordionCode">

            <div class="card open">
                <div class="card-header px-0" id="heading-participate-1">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-link text-dark collapsed pl-0" type="button" data-toggle="collapse" data-target="#collapse-participate-1" aria-expanded="true" aria-controls="collapse-participate-1">
                            <h3>Kontakt</h3>
                        </button>
                        <button class="collapsed btn btn-close" type="button" data-toggle="collapse" data-target="#collapse-participate-1" aria-expanded="true" aria-controls="collapse-participate-1">
                            <img class="img-fluid" src="/img/close-icon.svg">
                        </button>
                    </div>

                </div>

                <div id="collapse-participate-1" class="collapse show" aria-labelledby="heading-participate-1" data-parent="#accordionCode">
                    <div class="card-body py-0">
                        <div class="row justify-content-center">
                            <div class="col-20 py-4">
                                <ul class="list-unstyled mb-5">
                                    {{ range .Params.Leads }}
                                    <li class="d-flex justify-content-center p-2">
                                        <a class="d-block text-dark" href="{{ .url }}">{{ .name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header px-0" id="heading-participate-2">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-link text-dark collapsed pl-0" type="button" data-toggle="collapse" data-target="#collapse-participate-2" aria-expanded="true" aria-controls="collapse-participate-2">
                            <h3>Links</h3>
                        </button>
                        <button class="collapsed btn btn-close" type="button" data-toggle="collapse" data-target="#collapse-participate-2" aria-expanded="true" aria-controls="collapse-participate-2">
                            <img class="img-fluid" src="/img/close-icon.svg">
                        </button>
                    </div>

                </div>

                <div id="collapse-participate-2" class="collapse" aria-labelledby="heading-participate-2" data-parent="#accordionCode">
                    <div class="card-body py-0">
                        <div class="row justify-content-center">
                            <div class="col-20 py-4">
                                <ul class="list-unstyled mb-5">
                                    {{ range .Params.Links }}
                                    <li>
                                        <a class="d-block text-center text-dark" href="{{ .url }}">{{ .name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header px-0" id="heading-participate-3">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-link text-dark collapsed pl-0" type="button" data-toggle="collapse" data-target="#collapse-participate-3" aria-expanded="true" aria-controls="collapse-participate-3">
                            <h3>Kalender</h3>
                        </button>
                        <button class="collapsed btn btn-close" type="button" data-toggle="collapse" data-target="#collapse-participate-3" aria-expanded="true" aria-controls="collapse-participate-3">
                            <img class="img-fluid" src="/img/close-icon.svg">
                        </button>
                    </div>

                </div>

                <div id="collapse-participate-3" class="collapse" aria-labelledby="heading-participate-3" data-parent="#accordionCode">
                    <div class="card-body py-0">
                        <div class="row justify-content-center">
                            <div class="col-20 py-4">
                                <table class="table table-borderless">
                                    <div class="row justify-content-center my-4">
                                        <div class="col-23 col-sm-20 col-lg-14 col-xl-11">
                                            <p class="text-center mb-5">
                                                Aktuelle Veranstaltungen unserer Labs gibt es in unserem Nextcloud Kalender
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-outline-dark" href="https://cloud.prototypefund.de/apps/calendar/p/DkfdNbzXmyXr3jtL/dayGridMonth/now " target="_blank" rel="noopener noreferrer">
                                            Termine ansehen
                                        </a>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


		</div>
	</div>
</div>

{{/*
    Lists projects of this lab.
    Requires project Pages to include the filename
    without extension of this lab to be in the
    "labs: [...]" property of the frontmatter of the
    project file.
*/}}
{{/* create a slice because we're using "intersect" in the next line */}}
{{ $filename := slice .File.BaseFileName }}
{{ $lab_projects := (where (where .Site.RegularPages "Layout" "==" "project") ".Params.lab" "intersect" $filename)}}
{{ if len $lab_projects | ne 0 }}

{{ partial "headline-brackets-h2.html" (dict "context" . "txt" "Projekte" "color" "red" ) }}
<div class="row justify-content-center mb-5 mb-lg-7">
    <div class="col-22 col-md-18">
        <div class="row">
        {{ range $lab_projects }}
            {{ partial "project-preview.html" . }}
        {{ end }}
        </div>
    </div>
</div>
{{ end }}


<hr/>
{{partial "map-overview.html" . }}



{{ end }}
