{{ define "main" }}


<div class="lab-content">
    <div class="d-flex align-items-center flex-wrap justify-content-center">
        {{- if (fileExists (printf "static/labs/hexagon/CodeFor-%s.svg" .File.BaseFileName)) -}}
            <img class="lab-logo" src="/labs/hexagon/CodeFor-{{ .File.BaseFileName }}.svg" alt="Logo {{ .Title }}">
        {{- end }}
      <h1 class="headline-brackets blue flex-grow-1 m-0">{{.Title}} </h1>
</div>

    {{ if .Params.Hero }}
    {{ partial "hero-block-center.html" (dict "context" . "txt" .Params.Hero ) }}
    {{ end }}

    <section>
        {{ .Content }}
    </section>


    <div class="d-flex flex-wrap">
      <section class="flex-grow-1">
          <h3>Kontakt</h3>
          <ul class="list-unstyled mb-5">
              {{ range .Params.Leads -}}
              <li>
                <a class="d-block text-dark" href="{{ .url | safeURL }}" title="{{ .name }}" {{ if strings.HasPrefix .url "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .name }}</a>
              </li>
              {{ end -}}
          </ul>
        </section>

        <section class="flex-grow-1">
        <h3>Links</h3>
            <ul class="list-unstyled mb-5">
            {{ range .Params.Links -}}
            <li>
                <a class="d-block text-dark" href="{{ .url | safeURL }}" title="{{ .name }}" {{ if strings.HasPrefix .url "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .name }}</a>
            </li>
            {{ end -}}
        </ul>
        </section>
    </div>
</div>

{{/*
    Lists projects of this lab.
    Requires project Pages to include the filename
    without extension of this lab to be in the
    "labs: [...]" property of the frontmatter of the
    project file.
*/}}
{{/* create a slice because we're using "intersect" in the next line */}}
{{ $filename := slice .File.BaseFileName }}
{{ $lab_projects := (where (where .Site.RegularPages "Layout" "==" "project") ".Params.lab" "intersect" $filename)}}
{{ if len $lab_projects | ne 0 }}

<h2 class="headline-brackets red" id="projekte">Projekte</h2>
<div class="row justify-content-center mb-5 mb-lg-7">
    <div class="col-22 col-md-18">
        <div class="row">
        {{ range $lab_projects }}
            {{ partial "project-preview.html" . }}
        {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{/*
    Lists blogposts of this lab.
    Requires blog posts to include the filename
    without extension of this lab to be in the
    "labs: [...]" property of the frontmatter of the
    blogpost file.
*/}}
{{/* create a slice because we're using "intersect" in the next line */}}
{{ $filename := slice .File.BaseFileName }}
{{ $lab_blogposts := (where (where .Site.RegularPages "Section" "==" "blog") ".Params.lab" "intersect" $filename)}}
{{ if len $lab_blogposts | ne 0 }}
<h2 class="headline-brackets red" id="blog">Was bei uns passiert</h2>
<div class="row justify-content-center">
    <div class="col-24 col-md-22 col-lg-17">
        <div class="row">
            {{ range $lab_blogposts  }}
                {{ partial "blog-preview.html" . }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

<hr/>
{{ partial "map-overview.html" . }}

{{ end }}
