<div class="row justify-content-center mt-sm-5">
  <div class="col-22 col-sm-20 col-lg-22 col-xl-17">
    <div class="row mb-4 position-relative d-none d-lg-flex">
      <div class="col d-flex justify-content-center">
        <div class="rounded-circle bg-codefor-red circle-123">
          <span>1</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="rounded-circle bg-codefor-red circle-123">
          <span>2</span>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="rounded-circle bg-codefor-red circle-123">
          <span>3</span>
        </div>
      </div>
      <div class="circle-123-line"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-24 col-md-20 col-lg-8 d-flex flex-column align-items-center mb-6">
        <div class="rounded-circle bg-codefor-red circle-123 mb-3 d-lg-none">
          <span>1</span>
        </div>
        <div class="text-center px-lg-2 px-xl-4">
          Wir identifizieren menschliche Bedürfnisse in der digitalen Welt und
          hinterfragen technologische Entwicklungen nach ihrem Nutzen für die
          Gesellschaft.
        </div>
      </div>
      <div class="col-24 col-md-22 col-lg-8 d-flex flex-column align-items-center mb-6">
        <div class="rounded-circle bg-codefor-red circle-123 mb-3 d-lg-none">
          <span>2</span>
        </div>
        <div class="text-center px-lg-2 px-xl-4">
          Mit unserem ehrenamtlichen Netzwerk entwickeln wir offene digitale
          Anwendungen als Open-Source-Software, die Verwaltung und Politik
          direkt implementieren können. Wir befreien Daten!
        </div>
      </div>
      <div class="col-24 col-md-22 col-lg-8 d-flex flex-column align-items-center mb-6">
        <div class="rounded-circle bg-codefor-red circle-123 mb-3 d-lg-none">
          <span>3</span>
        </div>
        <div class="text-center px-lg-2 px-xl-4">
          So gestalten wir den offenen und nachhaltigen digitalen Wandel aus der
          Gesellschaft heraus - für eine Welt, in der die Möglichkeiten der
          Digitalisierung allen Menschen zugute kommt.
        </div>
      </div>
    </div>
  </div>
</div>
