<a href="/blog/code-for-climate-open-data-day" class="row bg-codefor-green p-sm-3 mt-6 mb-6 justify-content-center" id="teaser-code-for-climate">
    <div class="col-23 col-sm-24 col-md-22 col-lg-18">
        <div class="row flex-column flex-sm-row justify-content-around align-items-center">
            <div class="col-9 col-sm-4 col-lg-4 col-xl-3 d-flex justify-content-center py-4 py-sm-5"><img class="img-fluid" src="/img/icon-code-climate-left.svg" alt=""></div>
            <div class="headline-brackets d-flex justify-content-center align-items-center col-auto text-hero text-white ">
                <span class="pr-2 pr-sm-3 pr-md-4">{</span>
                <span class="text-center" >Code for Climate</span>
                <span class="pl-2 pl-sm-3 pl-md-4">}</span>
            </div>
            <div class="col-9 col-sm-4 col-lg-4 col-xl-3 d-flex justify-content-center py-4 py-sm-5"><img class="img-fluid" src="/img/icon-code-climate-right.svg" alt=""></div>
        </div>
    </div>
</a>

<style>
    #teaser-code-for-climate{
        text-decoration: none;
        transition: all .1s;
    }
    
    #teaser-code-for-climate:hover{
        background-color: #58e4a0;
    }

    #teaser-code-for-climate:hover .text-center{
        text-decoration: none;
        text-decoration: underline;
        color: #fff;
    }
</style>