{{ define "main" }}
  <section class="section is-medium">
    <div class="container">
      <h1 class="title section-title">{{ .Title }}</h1>
      <h2 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h2>
      <div class="divider"></div>
      <div class="content">
        {{ .Content }}
      </div>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <ul>
            {{ range .Pages }}
              <li class="preview">
                {{ if isset .Params "images" }}
                  {{ with (index (slice .Params.images) 0) }}{{ with index . 0}}
                    <div class="title-wrapper lazyload" data-style="background-image: url('{{ .imgname }}')">
                    </div>
                  {{end}}{{end}}
                {{ else if isset .Params "topic"}}
                <div class="title-wrapper lazyload" data-style="background-image: url('/blog/header_images/{{ .Params.topic }}.png')">
                </div>
                {{ else }}
                <div class="title-wrapper lazyload" data-style="background-image: url('/blog/header_images/default.png')">
                </div>
                {{ end }}
                <span class="date">{{ .Date.Format "02.01.2006" }}</span>
                <a href="{{.Permalink}}"><h3>{{.Title}}</h3></a>
                {{ if isset .Params "subtitle" }}
                <h4>{{.Params.Subtitle}}</h4>
                {{ end }}
                <p class="mb-20">von {{ .Params.author }}</p>
                <p>{{.Params.Excerpt}}</p>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
