<div class="row justify-content-center my-8">
	<div class="col-22 col-md-18 col-lg-16 col-xl-15">
		<div class="accordion">

		{{ range $index, $element := $.Site.Data.mitmachen }}
		<details class="card participate-details">
			<summary class="card-header px-0">
				{{ $element.title }}
				<img class="open-close" src="/img/close-icon.svg" alt="">
			</summary>

			<div class="row justify-content-center">
				<div class="col-20 py-4">
					{{ $element.txt | markdownify }}
				</div>
			</div>
		</details>
		{{ end }}
		</div>
	</div>
</div>
