/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$cfg-blue-1: #01aefd;
$cfg-blue-2: #01aefd;
$cfg-blue-3: #01aefd;
$cfg-red-1: #dc3836;
$cfg-red-2: #ff6460;
$cfg-red-3: #ff8383;
$cfg-green-1: #01b255;
$cfg-green-2: #16de9b;
$cfg-green-3: #55dba6;
$cfg-cyan-1: #01a8a8;
$cfg-cyan-2: #29cec8;
$cfg-cyan-3: #6cdcd5;

$primary: $cfg-red-2; //#ff645f;
$secondary: $cfg-blue-1; // #00abfa;
$accent: $cfg-cyan-1;//#78ccc7;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;
