.content {
  p img {
    display: block; // center smaller images
    margin: 3em auto 4em auto;
  }

  p.blog-quote {
    margin-top: 2em;
    padding-left: .5em;
    border-left: 5px solid $cfg-cyan-3;
  }

  code {
    background-color: #E5E4E2;
    color: $grey-dark;
    font-size: 0.875em;
    padding: 0.15em 0.3em 0.15em;
    border-radius: 0.3em;
  }

  a {
    color: $cfg-blue-1;
  }
}

.project {
  .content {
    img {
      margin: 0 auto 2em auto;
      box-shadow: .5em .5em $cfg-cyan-3;
      border: 1px solid $cfg-cyan-1;
      display: block;
    }
  }
}

.sidebar {
  h3 {
    font-size: 1.25em;
    margin-bottom: .5em;
  }
  p {
    margin-bottom: .5em;
  }
  strong {
    display: block;
    color: $grey-dark;
    font-weight: bold;
    margin-top: 1em;
  }
  a {
    display: block;
    line-height: 1.75em;
  }
}
