.content {
  p img {
    display: block; // center smaller images
    margin: 3em auto 4em auto;
  }

  p.blog-quote {
    margin-top: 2em;
    padding-left: .5em;
    border-left: 5px solid $cfg-cyan-3;
  }
}

.project {
  .content {
    img {
      margin: 0 auto 2em auto;
      box-shadow: .5em .5em $cfg-cyan-3;
      border: 1px solid $cfg-cyan-1;
      display: block;
    }
  }
  .sidebar {
    h3 {
      font-size: 1.25em;
      margin-bottom: .5em;
    }
    .collaborator {
      font-weight: bold;
      display: block;
      margin-top: 1em;
    }
    a {
      display: block;
      line-height: 1.75em;
    }
  }
}
