.projects .preview {
  position: relative;
  border: 1em solid rgba(255, 255, 255, 1);
  padding: 1em 1em 3em 1em;
  background-color: $light-grey;
  margin-bottom: 1em;

  .lab, .status {
    position: absolute;
    bottom: .5em;
    font-weight: bold;
  }
  .status {
    right: 1.5em;
  }
  .date {
    color: $muted-grey;
  }
  h3 {
    color: $cfg-cyan-1;
  }
}

ul li.preview, .preview {
  margin-bottom: 5em;
  //border-bottom: .5em solid $light-grey;
  //background: red;

  .title-wrapper {
    background-image: url('/blog/banners/zucker.jpg');
    background-size: cover;
    max-width: none;
    padding: 1em 3em 1em 1em;
    min-height: 10em;
    margin-bottom: 1.5em;
    box-shadow: .5em .5em $cfg-cyan-3;
  }

  .preview-img {
    width: 100%;
    height: 15em;
    background-color: $cfg-green-3;
    background-image: linear-gradient(0deg, $cfg-green-3, $cfg-green-1);
    background-size: cover;
    //box-shadow: .5em .5em $cfg-cyan-3;
    margin-bottom: .5em;
  }

  a {
    color: black;
  }

  svg {
    width: 100%;
    max-height: 15em;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }

  h4 {
    font-size: 1.25em;
    margin: 0 0 1em 0;
    font-style: italic;
  }

  .date {
    font-weight: bold;
    color: $cfg-cyan-3;
  }
}
