/* ==========================================================================
Navbar
========================================================================== */

body {
  margin-top: 4rem;
}

//Navbar
.navbar.is-fresh {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    min-height: 4rem;
    transition: all .3s;
    z-index: 99;
    .container {
        min-height: 4rem;
    }
    &.no-shadow {
        box-shadow: none !important;
    }
    //Responsive menu icon
    .navbar-burger {
        width: 4rem;
        height: 4rem;
    }
    .navbar-burger.close-button {
        // hiding using opacity/visibility instead of "display: none" to not impair transitions
        opacity: 0;
        visibility: collapse;
        margin-left: 0; // prevent left-margin from occupying any space
        span { // hamburger animation
            &:nth-child(1) { transform: none; }
            &:nth-child(2) { opacity: 1; }
            &:nth-child(3) { transform: none; }
        }
    }
    // navbar-menu is active (small screens only)
    &:target {
        .navbar-menu {
            display: block;
            max-height: 70vh;
            overflow: auto;
        }
        .navbar-burger.open-button {
            opacity: 0;
        }
        .navbar-burger.open-button span {
            &:nth-child(1) { transform: translateY(5px) rotate(45deg); }
            &:nth-child(2) { opacity: 0; }
            &:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
        }
        .navbar-burger.close-button {
            display: block;
            opacity: 1;
            visibility: visible;
            span {
                &:nth-child(1) { transform: translateY(5px) rotate(45deg); }
                &:nth-child(2) { opacity: 0; }
                &:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
            }
        }
    }
    //Brand
    .navbar-brand {
        min-height: 4rem;
        img {
            max-height: 36px !important;
            height: 36px;
        }
        //Removing navbar item default hover behaviour
        &:hover {
            .navbar-item {
                background: transparent !important;
            }
        }
    }
    .navbar-end {
        align-items: center;
    }
    //Navbar items
    .navbar-item {
        color: $muted-grey;
        &.is-secondary {
            &:hover {
                color: $secondary !important;
            }
        }
        &.has-dropdown {
            padding: 10px 0;
            .navbar-link {
                color: $muted-grey;
                &:after {
                    top: 55%;
                    height: 0.5em;
                    width: 0.5em;
                    border-width: 2px;
                    border-color: $muted-grey;
                }
            }
            .navbar-dropdown {
                top: 3.4rem;
                min-width: 220px;
                margin-top: 4px;
                border-top-color: $secondary;
                .navbar-item {
                    padding: 10px 20px;
                }
            }
            &:hover {
                .navbar-link {
                    color: $secondary;
                    &:after {
                        border-color: $secondary;
                    }
                }
            }
        }
        .signup {
            display: block;
            line-height: 0;
            font-size: .9rem !important;
        }
    }
}
