

h1,h2{
    font-size: $fontSizeH1-xl;
  }

  h3{
    font-size: $fontSizeH3-xl;
    margin-top: 20px;
  }

  body{
    font-size: $fontSizeBase-xl;
  }

  footer{
    font-size: $fontSizeSmall-xl !important;

    .donate{
      font-size: $fontSizeBase-xl !important;
    }

    h3{
      font-size: $fontSizeH3-xl;
    }
    h4{
      font-size: $fontSizeBase-xl;
    }
  }

  small{
    font-size: $fontSizeSmall-xl;
  }

  .text-hero{
    font-size: $fontSizeHero-xl;
  }

  .btn{
    font-size: $fontSizeBase-xl - 3;
  }

//---------------------------------------------------
// Icons

// headline icon style
.headline-icon{
  img{
    width: 100px;
  }
}


.btn-outline-dark.filter{
   min-width: 210px !important;
 }
