

//Hero block
.text-hero{
  font-size: $fontSizeHero - 4px;
}


nav.navbar{
    .navbar-brand{
      width: 270px;
    }
}

#lab-map-wrapper{
  margin-top: 0;
  .lab-map-dropdown{
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 20000;
    width: 340px;
  }
}
