nav.navbar{
    .navbar-brand{
      width: 300px;
    }
}

#lab-map-wrapper{
    padding-bottom: 66%;
}

.lab-map-dropdown{
    left: 50px;
    top: 50px;
    transform: translate(0)
}

.langSwitch {
    margin-top: -4rem;
  }
