
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/font/hanken-grotesk-v8-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#main{
  padding-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}


body{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: $fontSizeBase;
}

h1,h2{
  font-size: $fontSizeH1;
}

h3{
  font-size: $fontSizeH3;
  margin-top: 20px;
}

// confusingly enough, this is used to attribute quotes in some blogposts
footer{
  font-size: $fontSizeSmall !important;
  h3{
    font-size: $fontSizeH3;
  }
  h4{
    font-size: $fontSizeBase;
  }
}

small{
  font-size: $fontSizeSmall;
}

.text-hero{
  font-size: $fontSizeHero;
  line-height: 1.4;
}

//---------------------------------------------------
// text formating Fließtexte (Blog Posts...)

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  margin-bottom: 1rem;
}

.freetext-container{
  h2{
    font-size: $fontSizeBase + 9px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  h3{
    font-size: $fontSizeBase +4px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  img, figure {
    margin-bottom: 1rem;
  }

  // If the img is wrapped in a figure element, the margin should be taken
  // from there, not from the img itself. This allows us to position the
  // attribution tightly below the image.
  figure img {
    margin-bottom: 0;
  }

  p{
    margin-bottom: 2rem;
  }
}

.no-underline{
  text-decoration: none !important;
}
a.no-underline:hover{
  text-decoration: underline !important;
}

//---------------------------------------------------
// links
a{
  color: #000;
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color:#000;
}

/* selected link */
a:active {
  color: #000;
}


//---------------------------------------------------
// Icons

.headline-icon{
  &.blue{
    color: $codefor-blue;
  }
  &.red{
    color: $codefor-red;
  }
  svg{
    width: 80px;
    height: auto;
  }
}

.taxonomie-icon{
  width: 30px;
  height: 30px;
  filter: brightness(0);
}

.ext-link-icon{
  width: 30px;
  height: 30px;
}




//---------------------------------------------------
// Buttons
.btn{
  text-transform: uppercase;
  padding: .6rem 1.3rem;
  box-shadow: none !important;
  text-decoration: none;
  font-size: $fontSizeBase;
}

.btn-outline-dark{
  padding: 1rem 2rem;
  min-width: 280px;
  &.active, &:hover{
    color: $codefor-red !important;
    background-color: #fff;
    border-color: $codefor-red !important;
    img{
      filter:none;
    }
  }
}

.btn-outline-dark:hover, .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #343a40;
  background-color: transparent;
  border-color: #343a40;
}

.btn-outline-dark.dropdown-toggle, .btn-outline-dark.dropdown-toggle:hover, .btn-outline-dark.dropdown-toggle:active{
  background-color: white !important;
  color: #343a40 !important;
}


.btn-outline-dark.filter{
  min-width: 180px !important;
  padding: 1rem !important;
}




.langSwitch  {
  margin-right: 3rem;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}


.page-footer{
  border-top: 1px solid lightgray;
  margin-block-start: 5em;
  padding-block: 2em;

  .content {
    padding-inline: 1em;
    margin-inline: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{'min(300px, 100%)'}, 1fr));
    gap: 20px;

    .social {
      list-style-type: none;
      display: flex;
      gap: .5em;
      flex-direction: column;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
        }
        img {
          height: 1.5rem;
          margin-right: 1ch;
        }
      }
    }
  }
}




//---------------------------------------------------
// project page
.project-preview-img{
  width: 100%;
  padding-bottom: 56%; // 16:9 format
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



//---------------------------------------------------
// blog page
.blog-content{
  img{
    max-width: 100%;
    height: auto;
  }
}

//---------------------------------------------------
//style general accordion
.accordion {
  .card {
    border: none;
    border-top: 1px solid #000;
    border-radius: 0;
    padding: 16px 0;
    &:last-child {
      border-bottom: 1px solid #000;
    }

    .card-header {
      background-color: rgba(0,0,0,0);
      border-bottom: none;
    }
  }
  summary {
    list-style: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
  }
  details {
    & > summary::marker {
      display: none;
    }
    & > summary .open-close {
      height: 18px;
      margin-right: 10px;
      float: right;
      transform: rotate(45deg);
      transition: transform 0.2s;
    }
    &[open] > summary  .open-close {
      transform: rotate(0deg);
    }
  }
}

// custom figure element
figure {
  display: flex;
  flex-direction: column;

  figcaption {
    text-align: right;

    .attribution, .attribution a {
      font-size: 0.9rem;
      color: gray;
      align-self: flex-end;
    }
  }
}
