
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/font/hanken-grotesk-v8-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#main{
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


body{
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: $fontSizeBase;
}

h1,h2{
  font-size: $fontSizeH1;
}

h3{
  font-size: $fontSizeH3;
  margin-top: 20px;
}

footer{
  font-size: $fontSizeSmall !important;
  h3{
    font-size: $fontSizeH3;
  }
  h4{
    font-size: $fontSizeBase;
  }
}

small{
  font-size: $fontSizeSmall;
}

.text-hero{
  font-size: $fontSizeHero;
  line-height: 1.4;
}

//---------------------------------------------------
// text formating Fließtexte (Blog Posts...)

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  margin-bottom: 1rem;
}

.freetext-container{
  h2{
    font-size: $fontSizeBase + 9px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  h3{
    font-size: $fontSizeBase +4px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  img, figure {
    margin-bottom: 1rem;
  }

  // If the img is wrapped in a figure element, the margin should be taken
  // from there, not from the img itself. This allows us to position the
  // attribution tightly below the image.
  figure img {
    margin-bottom: 0;
  }

  p{
    margin-bottom: 2rem;
  }
}


// underline text in md file
.text-underline{
  text-decoration: underline;
}

.no-underline{
  text-decoration: none !important;
}
a.no-underline:hover{
  text-decoration: underline !important;
}

.no-text-transform{
  text-transform: none !important;
}

//---------------------------------------------------
// links
a{
  color: #000;
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color:#000;
}

/* selected link */
a:active {
  color: #000;
}




//---------------------------------------------------
// headline brackets style
.headline-brackets{
  span:first-child{
    font-size: $fontSizeH1 + 28px;
    margin-top: 4px;
  }
  span:last-child{
    font-size: $fontSizeH1 + 28px;
    margin-top: 4px;
  }
  &.red{
    span:first-child{
      color: $codefor-red;
    }
    span:last-child{
      color: $codefor-red;
    }
  }
  &.blue{
    span:first-child{
      color:$codefor-blue;
    }
    span:last-child{
      color:$codefor-blue;
    }
  }
}




//---------------------------------------------------
// Icons

// headline icon style
.headline-icon{
  &.blue{
    img{
      filter: hue-rotate(226deg) brightness(1.4);
    }
  }
  img{
    width: 80px;
    height: auto;
  }
}

// more icon styles
.lab-icon{
  margin-top: -20px; //lab icons haben einen Rand den wir hier ausgleichen
  img{
    width: 140px; //wegen Rand größer als andere Icons
    height: auto;
  }
}

.taxonomie-icon{
  width: 30px;
  height: 30px;
  filter: brightness(0);
}

.ext-link-icon{
  width: 30px;
  height: 30px;
}




//---------------------------------------------------
// Buttons
.btn{
  text-transform: uppercase;
  padding: .6rem 1.3rem;
  box-shadow: none !important;
  text-decoration: none;
  font-size: $fontSizeBase;
}

.btn-outline-dark{
  padding: 1rem 2rem;
  min-width: 280px;
  &.active, &:hover{
    color: $codefor-red !important;
    background-color: #fff;
    border-color: $codefor-red !important;
    img{
      filter:none;
    }
  }
}

.btn-outline-dark:hover, .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #343a40;
  background-color: transparent;
  border-color: #343a40;
}

.btn-outline-dark.dropdown-toggle, .btn-outline-dark.dropdown-toggle:hover, .btn-outline-dark.dropdown-toggle:active{
  background-color: white !important;
  color: #343a40 !important;
}


.btn-outline-dark.filter{
  min-width: 180px !important;
  padding: 1rem !important;
}




.langSwitch  {
  margin-right: 3rem;
  text-decoration: none;

  &:hover {
    text-decoration: none;
}
}


//---------------------------------------------------
// footer
footer{
  .footbar{
    h4{
      text-transform: uppercase;
    }
  }
  .footer-social-icon{
    width: 30px;
    margin-bottom: 13px;
  }
}




//---------------------------------------------------
// background colors

.bg-codefor-mint{
  background-color: $codefor-mint;
}
.bg-codefor-green{
  background-color: $codefor-green;
}
.bg-codefor-red{
  background-color: $codefor-red;
}

//---------------------------------------------------
// home goals

.goal-icon{
  width: 150px;
}

//---------------------------------------------------
// home 1-2-3
.circle-123{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: $fontSizeH3;
}

.circle-123-line{
  position: absolute;
  border-top: 1px solid #000;
  width: calc(100% - 33%);
  left: 16%;
  top: 50%;
  z-index: -1;
}




//---------------------------------------------------
// project page
.project-preview-img{
  width: 100%;
  padding-bottom: 56%; // 16:9 format
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



//---------------------------------------------------
// blog page
.blog-content{
  img{
    max-width: 100%;
    height: auto;
  }
}

// twiiter widget style
.twitter-container{
  border: 1px solid #000;
  border-radius: 8px;
}



//---------------------------------------------------
//style general accordion
.accordion {
  .card {
    border: none;
    border-top: 1px solid #000;
    border-radius: 0;
    padding: 16px 0;
    &:last-child {
      border-bottom: 1px solid #000;
    }

    .card-header {
      background-color: rgba(0,0,0,0);
      border-bottom: none;
    }
  }
  summary {
    list-style: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: none;
    }
  }
  details {
    & > summary::marker {
      display: none;
    }
    & > summary .open-close {
      height: 18px;
      margin-right: 10px;
      float: right;
      transform: rotate(45deg);
      transition: transform 0.2s;
    }
    &[open] > summary  .open-close {
      transform: rotate(0deg);
    }
  }
}

.participate-details > summary {
  @extend h3;
}

.goals-accordion {
  .goals-details {
    border: 0 !important;
    padding: 0;
    margin-top:-1px;
    &[open] {
      background-color: $codefor-mint;
      border: 1px solid #000;
      & > .goals-summary {
        border: 0;
      }
    }
    .goals-summary {
      transition: border 0.3s, background-color 0.3s, margin-top 0s;
      border: 1px solid #000;
      border-radius: 6px !important;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
      &:hover {
        background-color: $codefor-mint;
      }
      .text {
        text-align: left;
        white-space: normal;
        font-size: 18px;
      }
      .icon-text {
        line-height: 1.1;
      }
    }
  }
  .details-content {
    background-color: #fff;
  }
}

// custom figure element
figure {
  display: flex;
  flex-direction: column;

  figcaption {
    text-align: right;

    .attribution, .attribution a {
      font-size: 0.9rem;
      color: gray;
      align-self: flex-end;
    }
  }
}
