.blog {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{"min(100%, 400px)"}, 1fr));
    grid-gap: 20px
  }

  &__pagination {
    display: grid;
    justify-content: center;
    margin-top: 40px
  }
}
