// These are the styleguide colors (the colors from the logo)
$codefor-blue: #00A9FA;
$codefor-red: #FF645F;
$codefor-green: #00da88;
$codefor-teal: #57CFC8;

$codefor-light-red: #FBA3A3;
$codefor-light-green: #70DEA1;
$codefor-light-teal: #80DDD7;

// Only use this as accent colors for things such as light borders
$codefor-dark-red: #BD3A39;
$codefor-dark-green: #00B451;
$codefor-dark-teal: #00A9A7;

// These are additional colors that are used on the website only
$codefor-mint: #BFEEEB;
$codefor-light-grey: #F2F2F2;
