.community-cta-button {
  display: inline-block;
  background: $codefor-mint;
  text-decoration: none;
  border: 1px solid darken($codefor-mint, 10);
  border-radius: 5px;
  padding: 2px;

  &:hover {
    background-color: darken($codefor-mint, 10);
    text-decoration: none;
  }
}
