#lab-map{
    width: 100%;
    aspect-ratio: 3/4;
    @media(orientation: landscape){
      aspect-ratio: 16/9;
    }
  }

  .leaflet-marker-icon-wrapper {
    position: absolute;
  }

  .leaflet-marker-iconlabel.label-left {
    margin-right: 25px;
    transform: translateX(calc(-100% - 4px));
  }

  .leaflet-marker-iconlabel {
    background: white;
    background: rgba(255,255,255,0.75);
    display: block;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 6px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    a{
      color: $codefor-red;
      text-decoration: none;
    }
  }

@media only percy {
  .leaflet-tile-container {
    display: none !important;
  }
}
