#lab-map-wrapper{
    width: 100%;
    padding-bottom: 150%;
    position: relative;
    margin-top: 150px;
    @media(orientation: landscape){
      padding-bottom: 100%;
    }
  }
  #lab-map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .leaflet-marker-icon-wrapper {
    position: absolute;
  }

  .leaflet-marker-iconlabel.label-left {
    margin-right: 25px;
    transform: translateX(calc(-100% - 4px));
  }

  .leaflet-marker-iconlabel {
    background: white;
    background: rgba(255,255,255,0.75);
    display: block;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 6px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
    a{
      color: $codefor-red;
      text-decoration: none;
    }
  }


  .lab-map-dropdown{
    position: absolute;
    left: 0;
    top: -120px;
    z-index: 20000;
    width: 100%;
  }

@media only percy {
  .leaflet-tile-container {
    display: none !important;
  }
}
