.project-preview-card {
  .card-header {
    height: 30px; // set height explicitly so that cards without icons have the same height as others
  }

  .project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    font-style: italic;
  }
}

#projects-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(Min(100%, 400px), 1fr));
}

.project-accordion-container {
  display: grid;
  gap: 10px;
}

.project-accordion-item {
  border: none;
  background: #01a9fa;
  .card-header {
    display: flex;
    align-items: center;
    gap: 20px;

    .read-more {
      flex-grow: 1;
      text-align: right;
    }
  }
}
