{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "scss/main.scss" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}

{{- if (or .Page.Params.needsLeafletCSS (ne .Page.Params.city nil) ) -}}
<link rel="stylesheet" href="{{ "leaflet/leaflet.css" | absURL }}" />
{{- end -}}

{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
