{{ if ne .Site.Params.hideFooter true }}
<footer id="footer" class="footer {{ if  not .Params.footerHideTopMargin }}mt-6{{ end }}">
  <div class="container-fluid text-center text-sm-left">
    
    
    <div class="row">
      <div class="col-md-12 d-flex align-items-center bg-primary px-7 py-5 px-sm-10 px-md-5 p-lg-7 p-xl-10">
        <div class="w-100">
          <img src="/img/icons-donate.svg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-md-12 d-flex align-items-center bg-light donate">
        <div class="row justify-content-center w-100">
          <div class="col-24 col-lg-20 p-5 p-sm-6 text-left">
            <h2>Spenden</h2>
            <p class="mb-0">
              Code for Germany ist ein Projekt der Open Knowledge Foundation. Um
              die Arbeit der OK Labs bestmöglich zu unterstützen, sind wir auf
              Spenden und Fördergelder angewiesen.
            </p>
              <a class="btn btn-outline-dark btn-lg mt-5" href="https://www.betterplace.org/de/projects/66473-unterstuetze-die-open-knowledge-labs" target="_blank" rel="noopener noreferrer" >Spende</a>
          </div>
        </div>
      </div>
    </div>

    {{ partial "simple_footer.html" . }}

  </div>
</footer>
{{ end }}
