{{- $labs := where (where .Site.RegularPages ".Params.city" "!=" nil) ".Params.hide" "!=" true }}
<div class="row justify-content-center mt-5 mb-7 no-gutters">
  <div class="col-24 col-md-18">
    <div id="lab-map-wrapper">
        <div id="lab-map" ></div>
        <div class="lab-map-dropdown">
          <div class="lab-map-dropdown-text">
            In diesen Städten gibt es <br>bereits ein OK Lab:
          </div>
          <div class="btn-group w-100">
            <select class="custom-select" id="lab-select">
              <option selected disabled>&hellip;</option>
              {{- range sort $labs ".Params.city" -}}
              <option value="{{ .RelPermalink }}">{{ .Params.city }}</option>
              {{ end -}}
            </select>
          </div>
        </div>
    </div>
  </div>
</div>

<script src="{{ "leaflet/leaflet.js" | absURL }}"></script>
<script src="{{ "js/lib/leaflet.iconlabel.js" | absURL }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  document.getElementById("lab-select").addEventListener("change", function (e) {
    if (e.target.value) {
      window.location.href = e.target.value;
    }
  });
  // initialize map, set position and zoom level
  var map = L.map("lab-map", {
    zoomSnap: 0,
    zoomControl: false
  });
  map.attributionControl.setPrefix("");
  map.scrollWheelZoom.disable();

  // add zoom control on lab map
  map.addControl(L.control.zoom({ position: 'topright' }));

  // basemap
  var osmTilesUrl = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib = 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
  var osmLayer = new L.TileLayer(osmTilesUrl, { minZoom: 5, attribution: osmAttrib });
  // load basemaps
  osmLayer.addTo(map);

  // define left-aligned and right-aligned labels and icons
  var labelRight = L.Icon.Label.extend({
    options: {
      iconUrl: "/img/lab_marker_home.svg",
      shadowUrl: null,
      iconSize: new L.Point(21, 35),
      iconAnchor: new L.Point(0, 0),
      labelAnchor: new L.Point(25, 2),
      wrapperAnchor: new L.Point(10, 35),
    }
  });
  var labelLeft = labelRight.extend({
    options: {
      labelAnchor: new L.Point(0, 2),
      labelClassName: "label-left"
    }
  });
  var labelTypes = { left: labelLeft, right: labelRight };

  var labs = [
{{- range $labs -}}
  {{- $coords := slice ((printf "%.2f" .Params.lat) | float) ((printf "%.2f" .Params.long) | float ) -}}
  {{- $label := cond (eq .Params.markerposition "right") "right" "left" -}}
  {{- dict "coords" $coords "label" $label "link" .RelPermalink "city" .Params.city | jsonify | safeJS -}},
{{- end -}}
]

  var labsLayer = L.featureGroup().addTo(map);

  labs.forEach(function (lab) {
    var marker = L.marker(lab.coords, {
      icon: new labelTypes[lab.label]({
        labelText: '<a href="' + lab.link + '">' + lab.city + '</a>'
       }),
      url: lab.link,
    })
    .on('click', function() { window.location.href = lab.link; })
    .addTo(labsLayer);
  });

  {{ if and (isset .Page.Params "lat") (isset .Page.Params "long") }}
  map.setView([{{- .Page.Params.lat -}}, {{- .Page.Params.long -}}], 10);
  {{- else -}}
  map.fitBounds(labsLayer.getBounds(), { padding: [60,60] });
  {{- end }}
});

</script>
