<nav class="mynav">
  <div class="left">
    <a class="logo" href="/">
      <img src="/img/logo.svg" alt="logo">
      <div class="logo-words">
        <span>for</span>
        <span>Germany</span>
      </div>
    </a>

    <button></button>
  </div>

  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{if ne .Weight 0 }}
      <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
          <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
