<nav class="topnav">
  <div class="left">
    <a class="logo" href="/">
      <img src="/img/logo.svg" alt="logo">
      <div class="logo-words">
        <span>for</span>
        <span>Germany</span>
      </div>
    </a>

    <button>
      <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
        <path stroke="rgba(0,0,0,0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
      </svg>
    </button>
  </div>

  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{if ne .Weight 0 }}
      <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
          <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
