<div class="col-24 col-md-12 col-lg-12 col-xl-8 mb-3  {{ range (.Param "tags") }}{{ . }} {{end}}">
  <div class="card border-dark h-100" href="{{.Permalink}}">
    <div class="card-header border-bottom-0 bg-white ">
      <ul class="d-flex list-unstyled justify-content-end m-0 p-0">
        {{ range (.Param "tags") }}

            <li class="pl-3">

              {{ if eq . "Umwelt" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/umwelt.svg" alt="{{ . }}">
              {{ else if eq . "Politik" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/politik.svg" alt="{{ . }}">
              {{ else if eq . "Gesellschaft" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/gesellschaft.svg" alt="{{ . }}">
              {{ else if eq . "Mobilität" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/mobilitaet.svg" alt="{{ . }}">
              {{ else }}
              {{ . }}
              {{ end }}

            </li>
      {{ end }}
    </ul>
    </div>

    <div class="card-body p-4">
      <a class="text-dark no-underline" href="{{.Permalink}}"><h3>{{.Title}}</h3></a>
      <div class="text-dark" >

        {{ if (isset .Params "Excerpt") }}
         {{ if (gt (len .Params.Excerpt) 0)}}
            {{ .Params.Excerpt | truncate 200 }}
          {{ else }}
            {{ .Summary | truncate 200 }}
          {{ end }}
        {{ else }}
          {{ .Summary | truncate 200 }}
        {{ end }}

      </div>
    </div>
    <div class="card-footer border-top-0 bg-white d-flex justify-content-between">
      {{ range .Params.lab }}
      {{ with $.Site.GetPage (printf "/labs/%s.md" . ) }}<a class="text-danger no-underline" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}
      {{ end }}
      <span class="text-right">{{.Params.status}}</span>
    </div>
  </div>
</div>
