<div class="row justify-content-center mt-6">
    <div class="col-24 col-md-22 col-lg-22 col-xl-20 ">
        <div class="d-flex flex-column flex-lg-row justify-content-center mb-5" id="filters">
            <button data-filter="" class="btn btn-outline-dark filter mx-2 my-2 active" href="{{ .Page.Permalink }}">
                <span>Alle</span>
            </button>
            <button data-filter="Umwelt" class="btn btn-outline-dark filter mx-2 my-2" href="{{ .Page.Permalink }}">
                <span>Umwelt</span>
                <img class="ml-1 img-fluid taxonomie-icon" src="/img/taxonomie-icon/umwelt.svg" alt="Filter Umwelt">
            </button>
            <button data-filter="Politik" class="btn btn-outline-dark filter mx-2 my-2" href="{{ .Page.Permalink }}">
                <span>Politik</span>
                <img class="ml-1 img-fluid taxonomie-icon" src="/img/taxonomie-icon/politik.svg" alt="Filter Politik">
            </button>
            <button data-filter="Gesellschaft" class="btn btn-outline-dark filter mx-2 my-2" href="{{ .Page.Permalink }}">
                <span>Gesellschaft</span>
                <img class="ml-1 img-fluid taxonomie-icon" src="/img/taxonomie-icon/gesellschaft.svg" alt="Filter Gesellschaft">
            </button>
            <button data-filter="Mobilität" class="btn btn-outline-dark filter mx-2 my-2" href="{{ .Page.Permalink }}">
                <span>Mobilität</span>
                <img class="ml-1 img-fluid taxonomie-icon" src="/img/taxonomie-icon/mobilitaet.svg" alt="Filter Mobilität">
            </button>
        </div>
        <div class="row mb-5 mb-md-7" id="projects-container">
            {{- range sort (where site.RegularPages "Layout" "==" "project") ".Params.title" -}}
            {{ partial "project-preview.html" . }}
            {{- end -}}
        </div>
        <div class="col-24 d-flex justify-content-center my-7 btn-archive">
            <a class="btn btn-outline-dark" href="/projekte/archiv">
                Projektarchiv
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        var filterButtons = Array.from(document.querySelectorAll("#filters button"));
        var projects = Array.from(document.querySelectorAll("#projects-container > div"));

        filterButtons.forEach(function (button) {
            var filter = button.dataset.filter;

            button.addEventListener("click", function (e) {
                projects.forEach(project => project.style.display = "unset");

                filterButtons.filter(b => b !== button)
                             .forEach(button => button.classList.remove("active" ))
                button.classList.toggle("active")
                const isActive = button.classList.contains("active")
                if (filter === "") {
                    return;
                }
                if (isActive) {
                    projects
                        .filter(project => !project.querySelector(`[alt="${filter}"]`))
                        .forEach(project => project.style.display = "none")
                }
            });
        });
    });
</script>
