  <div class="card border-dark h-100 project-preview-card"
       data-name="{{ .Title }}"
       data-date="{{ substr .File.BaseFileName 0 10 }}"
       href="{{.Permalink}}">
    <div class="card-header border-bottom-0 bg-white ">
      <ul class="d-flex list-unstyled justify-content-end m-0 p-0 tags">
        {{ range (.Param "tags") }}

            <li class="pl-3">

              {{ if eq . "Umwelt" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/umwelt.svg" alt="{{ . }}">
              {{ else if eq . "Politik" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/politik.svg" alt="{{ . }}">
              {{ else if eq . "Gesellschaft" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/gesellschaft.svg" alt="{{ . }}">
              {{ else if eq . "Mobilität" }}
              <img class="img-fluid taxonomie-icon" src="/img/taxonomie-icon/mobilitaet.svg" alt="{{ . }}">
              {{ else }}
              {{ . }}
              {{ end }}

            </li>
      {{ end }}
    </ul>
    </div>

    <div class="card-body p-4">
        {{- if (fileExists (printf "static/projects/%s" .Params.imgname )) -}}
        <img class="project-image" src="/projects/{{ .Params.imgname }}"  alt="Screenshot {{ .Title }}">
        {{- else -}}
        <img class="project-image project-image__placeholder" src="/img/logo.svg"  alt="">
        {{- end -}}
      <a class="text-dark no-underline project-link" href="{{.Permalink}}"><h3 class="title">{{.Title}}</h3></a>
      <div class="text-dark description" >
        {{ if (isset .Params "Excerpt") }}
         {{ if (gt (len .Params.Excerpt) 0)}}
            {{ .Params.Excerpt | truncate 200 }}
          {{ else }}
            {{ .Summary | truncate 200 }}
          {{ end }}
        {{ else }}
          {{ .Summary | truncate 200 }}
        {{ end }}

      </div>
    </div>
    <div class="card-footer border-top-0 bg-white d-flex justify-content-between">
      {{ range .Params.lab }}
      {{ with $.Site.GetPage (printf "/labs/%s.md" . ) }}<a class="text-danger no-underline lab-link" href="{{ .Permalink }}">{{ .Title }}</a>{{ end }}
      {{ end }}
        <a class="text-danger no-underline lab-link"></a>
      <span class="text-right status">{{.Params.status}}</span>
    </div>
  </div>
