{{ define "main" }}
  <section class="section is-medium">
    <div class="container">
      <h1 class="title section-title">{{ .Title }}</h1>
      <h2 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h2>
      <div class="divider"></div>
      <div class="content">
        {{ .Content }}
      </div>
          <div class="content-wrapper">
            <div class="columns">
              <div class="column is-one-quarter has-text-centered">
                <a href="{{ printf "/themen/umwelt" | relURL }}">
                  <img src="{{ printf "/images/umwelt.png" | relURL }}">
                </a>
                <p class="title is-3 has-text-white" style="margin-top: -50px">Umwelt</p>
                <p>Welche technologischen Entwicklungen bringen unsere Gesellschaft wirklich weiter?</p>
                <a href="{{ printf "/themen/umwelt" | relURL }}">
                  <button class="button is-primary" style="margin-top: 40px">Zum Themefeld Umwelt</button>
                </a>
              </div>
              <div class="column is-one-quarter has-text-centered">
                <a href="{{ printf "/themen/mobilitaet" | relURL }}">
                  <img src="{{ printf "/images/mobilitaet.png" | relURL }}">
                </a>
                <p class="title is-3 has-text-white" style="margin-top: -50px">Mobilität</p>
                <p>Welche technologischen Entwicklungen bringen unsere Gesellschaft wirklich weiter?</p>
                <a href="{{ printf "/themen/mobilitaet" | relURL }}">
                  <button class="button is-primary" style="margin-top: 40px">Zum Themefeld Mobilität</button>
                </a>
              </div>
              <div class="column is-one-quarter has-text-centered">
                <a href="{{ printf "/themen/politik" | relURL }}">
                  <img src="{{ printf "/images/politik.png" | relURL }}">
                </a>
                <p class="title is-3 has-text-white" style="margin-top: -50px">Politik</p>
                <p>Welche technologischen Entwicklungen bringen unsere Gesellschaft wirklich weiter?</p>
                <a href="{{ printf "/themen/politik" | relURL }}">
                  <button class="button is-primary" style="margin-top: 40px">Zum Themefeld Politik</button>
                </a>
              </div>
              <div class="column is-one-quarter has-text-centered">
                <a href="{{ printf "/themen/gesellschaft" | relURL }}">
                  <img src="{{ printf "/images/gesellschaft.png" | relURL }}">
                </a>
                <p class="title is-3 has-text-white" style="margin-top: -50px">Gesellschaft</p>
                <p>Welche technologischen Entwicklungen bringen unsere Gesellschaft wirklich weiter?</p>
                <a href="{{ printf "/themen/gesellschaft" | relURL }}">
                  <button class="button is-primary" style="margin-top: 40px">Zum Themefeld Gesellschaft</button>
                </a>
              </div>
        </div>
  </section>
{{ end }}
