{{ define "main" }}

<h1 class="headline-brackets red">{{.Title}}</h1>

<div class="row justify-content-center blog-content mb-4 mb-md-5">
    <div class="col-22 col-lg-16 col-xl-14">

      <div class="row">
        <ul class="list-inline mx-auto">
          {{ range .Params.Links }}
          <li class="list-inline-item p-2">
            <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="row">
        <div class="col">
          <div class="freetext-container">
            {{ .Content }}
          </div>
          {{ if .Params.status }}
          <p>Status des Projektes {{ .Title }}: {{ .Params.status }}</p>
          {{ end }}
          {{ if (and (isset .Params "imgname") (fileExists (printf "static/projects/%s" .Params.Imgname))) }}
          <div class="d-flex align-items-center">
              <img class="img-fluid mx-auto" src="/projects/{{ .Params.Imgname }}" alt="Screenshot {{ .Title }}">
          </div>
          {{ end }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2 class="headline-brackets red">Mitwirkende</h2>
          <ul class="list-inline">
            {{ range .Params.Collaborators }}
            <li class="d-flex justify-content-center p-2">
              <strong>{{ .name }}</strong>
              {{ $name := .name }}
              {{ range .links }}
                {{ if in .url "github" }}
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"><img class="ext-link-icon mx-2" src="/img/github.svg" alt="Link zum GitHub Account von {{ $name }}"></a>
                {{ else if in .url "twitter" }}
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer"><img class="ext-link-icon mx-2" src="/img/twitter.svg" alt="Link zum Twitter Account von {{ $name }}"></a>
                {{ else }}
                &nbsp;<a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a>
                {{ end }}
              {{ end }}
            {{ end }}
            </li>
            </ul>
            <div class="mb-5">
              <div class="d-flex justify-content-evenly">
                {{ range .Params.lab }}
                  {{ with $.Site.GetPage (printf "/labs/%s.md" . ) }}
                    <a href="{{ .Permalink }}">
                      {{- if (fileExists (printf "static/labs/hexagon/CodeFor-%s.svg" .File.BaseFileName)) -}}
                      <img src="/labs/hexagon/CodeFor-{{ .File.BaseFileName }}.svg" alt="Logo {{ .Title }}">
                      {{- end }}
                      <div class="text-center text-hero">{{ .Params.city }}</div>
                    </a>
                  {{ end }}
                {{ end }}
              </div>
            </div>
        </div>
      </div>
    </div>
</div>



{{ end }}
