{{- $inServerMode := .Site.IsServer }}
{{- $sass         := "style.sass" }}
{{- $cssTarget    := "css/style.css" }}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $fontFace     := replace .Site.Params.font.name " " "+" }}
{{- $fontSizes    := delimit .Site.Params.font.sizes "," }}
<link rel="icon" type="image/png" href="/images/favicon.png" />
<link href="/css/OpenSans.css" rel="stylesheet">
<!--<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />-->
<!--<link href="{{ "css/OpenSans.css" | relURL }}" rel="stylesheet">-->
{{- if $inServerMode }}
{{- $css := resources.Get $sass | toCSS $cssOpts }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
{{- $css := resources.Get $sass | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
<!-- <link rel="stylesheet" type="text/css" href="https://dev.codefor.de/{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}"> -->
{{- end }}
<link rel="stylesheet" type="text/css" href="/css/icons.css">
<!--<link rel="stylesheet" type="text/css" href="{{ "css/icons.css" | relURL }}">-->
