{{- $navbar         := .Site.Params.navbar }}
{{- $navbarLogo     := .Site.Params.navbarlogo }}
<nav id="menu" class="navbar is-fresh no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      {{- if $navbarLogo}}
      <a class="navbar-item" href="{{ $navbarLogo.link }}">
        <img src="{{ printf "%s" $navbarLogo.image | relURL }}" alt="" width="112" height="28">
      </a>
      {{- end}}

      <a href="#menu" role="button" class="navbar-burger open-button" aria-label="menu" aria-expanded="false" data-target="menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <a href="#" role="button" class="navbar-burger close-button is-active" aria-label="menu" aria-expanded="false" data-target="menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

    </div>

      <div class="navbar-menu is-static">
        <div class="navbar-end">
          {{- range $navbar }}
          {{- if .sublinks }}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ .title }}
            </a>

            <div class="navbar-dropdown">
              {{- range .sublinks }}
              <a href="{{ .url }}" class="navbar-item">
                {{ .title }}
              </a>
              {{- end }}
            </div>
          </div>
          {{- else if .button }}
          <a href="{{ .url }}" class="navbar-item">
            <span class="button signup-button rounded secondary-btn raised">
              {{ .title }}
            </span>
          </a>
          {{- else }}
          <a href="{{ .url }}" class="navbar-item is-secondary">
            {{ .title }}
          </a>
          {{- end }}
          {{- end }}
        </div>
      </div>
  </div>
</nav>
