{{ define "main" }}
  <section class="section is-medium">
    <div class="container">
      <h1 class="title section-title">{{ .Title }}</h1>
      <h2 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h2>
      <div class="divider"></div>
      <div class="content">
        {{ .Content }}
      </div>
      <h1 class="title section-title">Showcase</h1>
      <div class="projects columns is-multiline">
        {{ range where .Pages ".Params.showcase" true }}
          {{ partial "projekt.html" . }}
        {{ end }}
        </div>
      <div class="divider"></div>
      <div class="projects columns is-multiline">
        {{ range where .Pages ".Params.draft" false }}
          {{ partial "projekt.html" . }}
        {{ end }}
        </div>
      </div>
  </section>
{{ end }}
