name: Visual tests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.104.3'
          extended: true
      - name: Build
        run: hugo
      - name: Percy Test
        run: npx @percy/cli@1.8.1 snapshot public/
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
