name: Visual tests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.79.1'
          extended: true
      - name: Build
        run: hugo
      - name: Percy Test
        uses: percy/snapshot-action@v0.1.0
        with:
          build-directory: "public/"
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
